<!DOCTYPE>
<html>
    <head> 
        <title> LWCMP Tool </title>
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
         
        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">

        <!-- JQuery 3.3.1 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <!-- JQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="/js/admin-login.js"></script>


    </head>

    <body>

       <!-- navbar -->
       <nav id="home-nav" class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">
                <img class="logo" src="/img/live-well-logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-row-reerse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="closeassess" href="/assess">Assess <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="closemarket" href="/markets">Markets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="closedata" href="/data">Data</a>
                    </li>
                </ul>

                <div class="ml-auto">
                    <a role="button" href="/admin-login" class="btn btn-outline-warning">Admin Login</a>
                </div>
            </div>
        </nav>


        <!-- home caption -->
        <div class="home-caption">
            <div class="container main" style="height: 100%;">
              <div class="admin-login-container d-flex justify-content-center align-items center">
                <div class="admin-login text-center">
                  <label><h3>Administrator Login</h3></label>
            
                  <form method="get" action="admin-process">
                    <div class="form-group">
                      <input type="username" name="username" class="form-control form-control-lg"   placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-block btn-lg btn-success">Sign In</button>
                  </form>
            
                </div>
              </div>
            </div>
            
            <script type="text/javascript" src="js/admin-login.js"></script>
            
          </div>
    
    </body>

</html>
