<!DOCTYPE>
<html>
	<head>
		<title> Administrators </title>
		<meta charset="utf-8">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

		<!-- CSS Files -->
   	<link rel="stylesheet" type="text/css" href="/css/assess.css">
		<link rel="stylesheet" type="text/css" href="/css/admin-panel.css">

		<!-- JQuery 3.3.1 -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>

		<!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

		<!-- JQuery UI -->
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

	</head>

	<body>
		<!-- navbar -->
		<%- include partials/navbar.ejs %>

		<h2 class="title"> Administrators </h2>
		<div class="card" id="pre-assess-container">
			<div class="card-body">
				<table>
					<thead>
						<tr>
							<th> <h3 style="text-decoration: underline;"> Emails </h3> </th>
					</thead>
					<tbody>
						<% admins.forEach(function(admins) { %>
							<tr>
								<th> <%= admins.email %> </th>
								<th> <button id="removeAdmin-button" value="<%=admins.email%>"> Remove </button> </th>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>	

		<h2 class="title"> Add an Administrator </h2>
		<div class="card" id="addAdmin">
			<div class="card-body">
				<form id="addAdmin-form">
					<div class="form-row">
					<div style="margin-right: 15px;" class="form-group">
					<label for="email" class="required-input"> Email address</label>
					<input type="email" id="email" class="form-control" name="email" placeholder="name@example.com" required="">
					</div>

					<div style="margin-right: 15px;" class="form-group">
					<label class="required-input">Password</label>
					<input type="password" id="password" class="form-control" name="password" required="">
					</div>

					<div class="form-group">
					<label class="required-input">Confirm Password</label>
					<input type="password" id="confirm-password" class="form-control" name="password" required="">
					</div>
					</div>
					<button id="addAdmin-button" type="submit" class="btn btn-primary"> Add Admin </button>
				</form>
			</div>
			</div>


			<script src="/js/addAdmin.js"></script>
			<script src="/js/removeAdmin.js"></script>
			<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
	</body>




</html>
