<!DOCTYPE>
<html>
    <head> 
        <title> LWCMP Tool </title>
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
         
        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="/css/marketdata.css">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">

        <!-- JQuery 3.3.1 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <!-- JQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/marketdata.js"></script>
        
    </head>

    <body>

       <!-- navbar -->
       <<%- include partials/header.ejs %>
        <!-- home caption -->
        <div class="home-caption">
            <h1 class="text-dark_md"> </h1>
            <hr></hr>
            <h2 class="text-subdark_md"> </h2>
            <hr></hr>
            <h3 class="text-subdark2_md"> Questions and Responses </h3>
            <br>
            <p class="text-muted2_md"> </p>

            <hr></hr>

            <br>
            <h3 class="text-subdark3_md"> Questions Needed to Improve Score </h3>
            <p class="text-muted3_md"> </p>

            <hr></hr>

            <p> 
            </p>

        </div>

        <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
        <script type="text/javascript" src="js/markets.js"></script>
        <script src="/js/config.js"></script>
    
    </body>

</html>
