<!DOCTYPE>
<html>
    <head> 
        <title> LWCMP Tool </title>
        <meta charset="utf-8">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
         
        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">

        <!-- JQuery 3.3.1 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <!-- JQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        
        <script src="/js/navbar-highlighter.js"></script>
        
    </head>

    <body>

       <!-- navbar -->
       <<%- include partials/navbar.ejs %>
        <!-- home caption -->
        <div class="home-caption">
            <h1 class="text-dark">Thank you for filling the assesment for <%= name %>. </h1>
            <p class="text-muted">The market is classified as level  <%= level %>. </p>
            
            <p> 
                <a class="btn btn-lg btn-success" href="/assess" role="button">Start Assessment</a>
            </p>

        </div>
        

    
    </body>

</html>
